.index
  img.logo(src="https://i.imgur.com/Zl17ATS.png")
  svg.ToolbarButton(viewbox="0 -50 100 100")
    line(x1=0 x2=100 y1=45 y2=45)
    line(x1=0 x2=100 y1=0 y2=0)
    line(x1=0 x2=100 y1=-45 y2=-45)
  svg.ToolbarButtonX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
  .Toolbar
    .button.BT1 設計理念
    .button.BT2 水母圖鑑
    .button.BT3 相關資料
    .button.BT4 關於我們
  .hasTage
    p 
      | #MEDUSA
      br
      | #ENVIRONMENT
      br
      | #MARINE ECOLOGY
      
      
.aboutUs
  h1 關於我們
  p 
    | 嶺東科技大學 LTUVCD 24th
    br
    | 指導老師：郭中元 KUO, CHENG-YUAN
    br
    | 組員：
    br
    | 蔡承勳 TSAI, CHENG-HSUN
    br
    | 許瑋翔 HSU, WEI-HSIANG
    br
    | 官振愷 KUAN, JEN-KAI
    br
    | 林竑均 LIN, HONG-JUN
  svg.aboutUsX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
  img.aboutUsJelly(src="https://i.imgur.com/QGpZf6L.png")
    
.designConcept
  h1 設計理念
  p 
    | 透過了解水母在海洋生態中的角色，認識到環境變遷之下所引發的水母爆發事件。盤點出世界上34種資料充足的水母種類，將水母自身流體的特性作為插畫風格，搭配科普知識作為書籍來認識各種水母的特徵。再透過創意的重組混合做為視覺呈現，探討水母氾濫對環境所造成的影響。
    br
    | 
    br
    | By understanding the role of jellyfish in marine ecology, we recognize the jellyfish blooms triggered by environmental changes. We inventory 34 species of jellyfish worldwide with sufficient data, using the fluid characteristics of jellyfish themselves as the illustration style, paired with popular science knowledge in books to understand the characteristics of various jellyfish species. Through creative recombination and blending for visual presentation, we explore the impact of jellyfish blooms on the environment.
  svg.designConceptX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
  img.designConceptJelly(src="https://i.imgur.com/WQlrLtw.png")
  
.Information
  h1 相關資料
  p 
    |企畫編輯、企劃執行、美術插圖—蔡承勳
    br
    | 書籍編輯—許瑋翔
    br
    | 視覺設計、標準字設計—官振愷
    br
    | 網站設計、程式編寫—林竑均
  svg.InformationX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
  img.InformationJelly(src="https://i.imgur.com/X61N3CJ.png")

.ClassificationBlock
  .Scyphozoa
    .inline-name
      h1 缽水母綱
      p Scyphozoa

.ScyphozoaInformation
  p 也被稱為「真水母綱」，學名源自於古希臘語的s k y p h o s ，意思是杯狀的物品。大多數常見的都屬於這一類水母，一般體型較大，身體構造相較其他綱較為複雜，口腕與胃具有徑向對稱性， 大多呈現四輻射對稱， 內部具有發達的「中膠層」，類似於骨骼的完整結構性功能。傘體呈現圓盤狀， 觸手位於傘緣圍繞一圈， 不同種的觸手數目不同， 長度與空心實心也不盡相同， 少數種類不具有觸手的種類。傘緣的中膠層存在一定的肌肉纖維， 透過交替收縮來游泳。

.menu
  .inlineBlock
    .block.block1
      h1.num 01
      h1.name 海月水母
      p.EnName Aurelia aurita
      p.time 1758
      svg.showMe1(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block2
      h1.num 02
      h1.name 端鞭水母
      p.EnName Acromitus flagellatus
      p.time 1903
      svg.showMe2(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block3
      h1.num 03
      h1.name 冥河水母
      p.EnName Stygiomedusa gigantea
      p.time 1910
      svg.showMe3(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block4
      h1.num 04
      h1.name 馬賽克水母
      p.EnName Catostylus mosaicus
      p.time 1824
      svg.showMe4(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block5
      h1.num 05
      h1.name 夜光游水母
      p.EnName Pelagia noctiluca
      p.time 1775
      svg.showMe5(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block6
      h1.num 06
      h1.name.namesmall 太平洋海刺
      p.EnName Chrysaora fuscescens
      p.time 1835
      svg.showMe6(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)     
  .inlineBlock
    .block.block7
      h1.num 07
      h1.name 紫紋海刺
      p.EnName Chrysaora colorata
      p.time 1964
      svg.showMe7(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block8
      h1.num 08
      h1.name 黑海刺
      p.EnName Chrysaora achlyos
      p.time 1997
      svg.showMe8(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block9
      h1.num 09
      h1.name 南美海刺
      p.EnName Chrysaora plocamia
      p.time 1830
      svg.showMe9(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block10
      h1.num 10
      h1.name 羅盤海刺
      p.EnName Chrysaora hysoscella
      p.time 1810
      svg.showMe10(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block11
      h1.num 11
      h1.name 獅鬃水母
      p.EnName Cyanea capillata
      p.time 1758
      svg.showMe11(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block12
      h1.num 12
      h1.name 蛋黃水母
      p.EnName Phacellophora camtschatica
      p.time 1835
      svg.showMe12(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block13
      h1.num 13
      h1.name 大西洋海刺
      p.EnName Chrysaora quinquecirrha
      p.time 1848
      svg.showMe13(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block14
      h1.num 14
      h1.name 仙后水母
      p.EnName Cassiopea andromeda
      p.time 1775
      svg.showMe14(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block15
      h1.num 15
      h1.name 赤月水母
      p.EnName Rhopilema esculentum
      p.time 1891
      svg.showMe15(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block16
      h1.num 16
      h1.name 珍珠水母
      p.EnName Mastigias papua
      p.time 1830
      svg.showMe16(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block17
      h1.num 17
      h1.name 皇冠水母
      p.EnName Cephea cephea
      p.time 1775
      svg.showMe17(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block18
      h1.num 18
      h1.name 砲彈水母
      p.EnName Stomolophus meleagris
      p.time 1860
      svg.showMe18(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)    
  .inlineBlock
    .block.block19
      h1.num 19
      h1.name 桶水母
      p.EnName Rhizostoma pulmo
      p.time 1778
      svg.showMe19(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block20
      h1.num 20
      h1.name 荷包蛋水母
      p.EnName Cotylorhiza tuberculata
      p.time 1778
      svg.showMe20(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)     
  .inlineBlock
    .block.block21
      h1.num 21
      h1.name 越前水母
      p.EnName Nemopilema nomurai
      p.time 1922
      svg.showMe21(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block22
      h1.num 22
      h1.name 澳洲斑點水母
      p.EnName Phyllorhiza punctata
      p.time 1884
      svg.showMe22(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
  .inlineBlock
    .block.block23
      h1.num 23
      h1.name 鮫水母
      p.EnName Tiburonia granrojo
      p.time 2003
      svg.showMe23(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block24
      h1.num 24
      h1.name 頭盔水母
      p.EnName Periphylla periphylla
      p.time 1810
      svg.showMe24(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)    
  .inlineBlock
    .block.block25
      h1.num 25
      h1.name 礁環冠水母
      p.EnName Atolla wyvillei
      p.time 1880
      svg.showMe25(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
        
.ClassificationBlock
  .Hydrozoa
    .inline-name
      h1 水螅綱
      p Hydrozoa

.HydrozoaInformation
  p 來自古希臘語 h ú d ō r 和 z ô i o n ， 意思分別是「水」和「動物」。水螅綱大多都生活在海洋中， 僅有少部分棲息於淡水。該綱的種類及其龐大， 擁有超過2 0 0 0 多種， 型態與特徵差別相當複雜， 水螅水母的共同特徵是在傘緣具有「緣膜」， 有著用於調節平衡的平衡囊， 這是與缽水母綱最明顯的區別。群落水螅會匯集成一個群落， 在一般情況下個體無法獨自生存， 不同個體之間會互相分工， 讓整個群落持續生存下去。水螅綱的體型都非常小， 不容易觀察到他們的蹤跡， 這也導致大多數的研究資料都非常稀少。

.menu
  .inlineBlock
    .block.block26
      h1.num 26
      h1.name 帆水母
      p.EnName Velella velella
      p.time 1758
      svg.showMe26(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block27
      h1.num 27
      h1.name 花帽水母
      p.EnName Olindias formosus
      p.time 1903
      svg.showMe27(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)  
  .inlineBlock
    .block.block28
      h1.num 28
      h1.name 索氏桃花水母
      p.EnName Craspedacusta sowerbii
      p.time 1880
      svg.showMe28(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block29
      h1.num 29
      h1.name 僧帽水母
      p.EnName Physalia physalis
      p.time 1758
      svg.showMe29(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5) 
  .inlineBlock
    .block.block30
      h1.num 30
      h1.name.namesmall 維多利亞水母
      p.EnName Aequorea victoria
      p.time 1920
      svg.showMe30(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block31
      h1.num 31
      h1.name 燈塔水母
      p.EnName Turritopsis dohrnii
      p.time 1857
      svg.showMe31(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5) 
  .inlineBlock
    .block.block32
      h1.num 32
      h1.name.namesmall 錢幣水母
      p.EnName Porpita porpita
      p.time 1758
      svg.showMe32(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)

.ClassificationBlock
  .CubozoaCubo
    .inline-name
      h1 箱形水母綱
      p Hydrozoa

.CubozoaCuboInformation
  p 也被稱為「立方水母」， 最大的特徵在於他們的立方狀的傘體， 並非常見的圓傘狀， 在箱型的四個下角各懸掛一個莖， 擁有多個或一個中空觸手， 體盤的邊緣會向體內折疊， 會限制體盤的孔徑， 但在脈動時會產生強大的噴射力， 因此箱型水母比其他水母游得更快。在體盤內側中間有著可移動的柄， 尖端的部位為口器。箱型水母的眼點具有視網膜、角膜和晶狀體， 他們總共有四個眼點， 而一個眼點有六顆眼睛。跟其他水母被動的行為不同， 他們能夠進行複雜的行為， 會主動的避開障礙物和攻擊獵物， 有著類似魚類的行為模式。該綱的物種毒性都非常強，能短時間癱瘓人類甚至致死。

.menu
  .inlineBlock
    .block.block33
      h1.num 33
      h1.name 波布水母
      p.EnName Chironex yamaguchii
      p.time 2009
      svg.showMe33(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)
    .block.block34
      h1.num 34
      h1.name 澳洲箱形水母
      p.EnName Chironex fleckeri
      p.time 1956
      svg.showMe34(viewbox="0 0 100 100")
        rect.rect1(x=5 y=5 width=90 height=90)
        rect.rect2(x=30 y=0 width=40 height=100)
        rect.rect2(x=0 y=30 width=100 height=40)
        line(x1=5 x2=95 y1=5 y2=95)
        line(x1=5 x2=95 y1=95 y2=5)  

.footer
  p 
    | 嶺東科技大學 LTUVCD 24th
    br
    | MEDUSA ERA'
    br
    | 版權所有，翻印必究
        
        
.jellyBlock.jelly1.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/vZMOFOb.png")
  h1.Bname 海月水母
  p.BMaxHeight
    | Length MAX：0.4M
    br
    | Diameter MAX：0.4M
  p.BEnName Aurelia aurita
  p.classification 
    | 太平洋 Pacific Ocean
    br
    | 大西洋 Atlantic
    br
    | 印度洋 Indian Ocean
    br
    | 地中海 Mediterranean
    br
    | 北冰洋 Arctic Ocean
    br
    | 南冰洋 Southern Ocean
  h2.Btime 1758
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly2.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/6qyRtrF.png")
  h1.Bname 端鞭水母
  p.BMaxHeight 
    | Length MAX：0.16M
    br
    | Diameter MAX：0.2M
  p.BEnName Acromitus Flagellatus
  p.classification 
    | 西印度洋 Western Indian Ocean
    br
    | 中太平洋 Central Pacific
    br
    | 孟加拉灣 Bay of Bengal
    br
    | 海南省沿海 Hainan
  h2.Btime 1903
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly3
  img.jellyPhoto(src="https://i.imgur.com/HsQhNvZ.png")
  h1.Bname 冥河水母
  p.BMaxHeight
    | Length MAX：10M
    br
    | Diameter MAX：1M
  p.BEnName Stygiomedusa gigantea
  p.classification 
    | 全世界海域 Western Indian Ocean
    br
    | 半深海帶 Semi-abyssal Zone
  h2.Btime 1910
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly4
  img.jellyPhoto(src="https://i.imgur.com/WBHaU8D.png")
  h1.Bname 馬賽克水母 
  //- 歸剛欸
  p.BMaxHeight
    | Length MAX：0.3M
    br
    | Diameter MAX：0.3M
  p.BEnName Catostylus mosaicus
  p.classification 
    | 印度洋 Indian Ocean
    br
    | 太平洋沿海 Pacific Coast
    br
    | 澳大利亞 Australia
  h2.Btime 1824
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly5
  img.jellyPhoto(src="https://i.imgur.com/Fk2knSj.png")
  h1.Bname 夜光游水母
  p.BMaxHeight MAX：10M
    | Length MAX：0.2M
    br
    | Diameter MAX：0.12M
  p.BEnName Pelagia noctiluca
  p.classification 
    | 太平洋 Pacific
    br
    | 大西洋 Atlantic
    br
    | 北大西洋 North Atlantic
    br
    | 北海 North Sea
    br
    | 地中海 Mediterranean Sea
    br
    | 墨西哥灣 Gulf of Mexico
  h2.Btime 1775
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly6
  img.jellyPhoto(src="https://i.imgur.com/iPigBGK.png")
  h1.Bname 太平洋海刺
  p.BMaxHeight
    | Length MAX：4.6M
    br
    | Diameter MAX：1M
  p.BEnName Chrysaora fuscescens
  p.classification 
    | 墨西哥灣 Gulf of Mexico
    br
    | 太平洋 Atlantic
    br
    | 美國西海岸 West Coast of U.S.A
    br
    | 阿拉斯加灣 Gulf of Alaska
    br
    | 日本 Japan
  h2.Btime 1835
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly7
  img.jellyPhoto(src="https://i.imgur.com/OMMesW7.png")
  h1.Bname 紫紋海刺
  p.BMaxHeight MAX：4M
    | Length MAX：4M
    br
    | Diameter MAX：0.7M
  p.BEnName Chrysaora colorata
  p.classification 
    | 東太平洋 Eastern Pacific
    br
    | 北部蒙特利灣 North Monterey Bay
    br
    | 加里福利亞州 California
    br
    | 墨西哥灣 Gulf of Mexico
  h2.Btime 1964
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly8
  img.jellyPhoto(src="https://i.imgur.com/FpkXBGk.png")
  h1.Bname 黑海刺
  p.BMaxHeight MAX：6M
    | Length MAX：6M
    br
    | Diameter MAX：1M
  p.BEnName Chrysaora achlyos
  p.classification 
    | 東太平洋 Eastern Pacific
    br
    | 北部蒙特利灣 North Monterey Bay
    br
    | 加里福利亞州 California
    br
    | 墨西哥灣 Gulf of Mexico
  h2.Btime 1997
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly9
  img.jellyPhoto(src="https://i.imgur.com/9sMP7Pv.png")
  h1.Bname 南美海刺
  p.BMaxHeight MAX：5M
  p.BEnName Chrysaora plocamia
  p.classification 
    | 墨西哥灣 Gulf of Mexico
    br
    | 東南太平洋 Southeast Pacific
    br
    | 南美洲西海岸 
    br
    | West Coast of South America
  h2.Btime 1830
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly10
  img.jellyPhoto(src="https://i.imgur.com/xIH6y7w.png")
  h1.Bname 羅盤海刺
  p.BMaxHeight
    | Length MAX：0.7M
    br
    | Diameter MAX：0.25M
  p.BEnName Chrysaora hysoscella
  p.classification 
    | 大西洋 Atlantic
    br
    | 歐洲沿岸 European Coast
    br
    | 南美洲東海岸
    br
    | East Coast of South America
    br
    | 非洲西海岸 West Coast of Africa
  h2.Btime 1810
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly11
  img.jellyPhoto(src="https://i.imgur.com/44Rzhkc.png")
  h1.Bname 獅鬃水母
  p.BMaxHeight
    | Length MAX：36.6M
    br
    | Diameter MAX：2.1M
  p.BEnName Cyanea capillata
  p.classification 
    | 北冰洋 Arctic Ocean
    br
    | 北大西洋 North Atlantic
    br
    | 北太平洋 North Pacific Ocean
  h2.Btime 1758
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly12
  img.jellyPhoto(src="https://i.imgur.com/TaHyTST.png")
  h1.Bname 蛋黃水母
  p.BMaxHeight
    | Length MAX：6M
    br
    | Diameter MAX：0.6M
  p.BEnName Cotylorhiza tuberculata
  p.classification 
    | 太平洋 Pacific Ocean
    br
    | 大西洋 Atlantic
    br
    | 印度洋 Indian Ocean
    br
    | 地中海 Mediterranean
  h2.Btime 1835
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly13.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/gS16FOe.png")
  h1.Bname 大西洋海刺
  p.BMaxHeight
    | Length MAX：1M
    br
    | Diameter MAX：0.4M
  p.BEnName Chrysaora quinquecirrha
  p.classification 
    | 墨西哥灣 Gulf of Mexico
    br
    | 大西洋 Atlantic
  h2.Btime 1848
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)

.jellyBlock.jelly14
  img.jellyPhoto(src="https://i.imgur.com/70QXlTT.png")
  h1.Bname 仙后水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.3M
  p.BEnName Cassiopea andromeda
  p.classification 
    | 北大西洋 North Atlantic
    br
    | 西大西洋 Western Atlantic
    br
    | 墨西哥灣 Gulf of Mexico
    br
    | 地中海 Mediterranean
    br
    | 南太平洋 South Pacific
    br
    | 印度洋 Indian Ocean
    br
    | 紅海 Red Sea
  h2.Btime 1775
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly15
  img.jellyPhoto(src="https://i.imgur.com/d9HARko.png")
  h1.Bname 赤月水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.5M
  p.BEnName Rhopilema esculentum
  p.classification 
    | 太平洋 Pacific Ocean
  h2.Btime 1891
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly16
  img.jellyPhoto(src="https://i.imgur.com/zWti5Aw.png")
  h1.Bname 珍珠水母
  p.BMaxHeight
    | Length MAX：0.1M
    br
    | Diameter MAX：0.3M
  p.BEnName Mastigias papua
  p.classification 
    | 西大西洋 Western Atlantic
    br
    | 西太平洋 West Pacific
    br
    | 紅海 Red Sea
  h2.Btime 1775
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly17
  img.jellyPhoto(src="https://i.imgur.com/DyFPK5S.png")
  h1.Bname 皇冠水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.6M
  p.BEnName Cephea cephea
  p.classification 
    | 印度洋 Indian Ocean
    br
    | 太平洋 Pacific
    br
    | 紅海 Red Sea
  h2.Btime 1775
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly18
  img.jellyPhoto(src="https://i.imgur.com/l6EXMIG.png")
  h1.Bname 砲彈水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.25M
  p.BEnName Stomolophus meleagris
  p.classification 
    | 北大西洋 North Atlantic
    br
    | 西大西洋 Western Atlantic
    br
    | 墨西哥灣 Gulf of Mexico
    br
    | 北太平洋 North Pacific Ocean
  h2.Btime 1860
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly19
  img.jellyPhoto(src="https://i.imgur.com/RU2MzqZ.png")
  h1.Bname 桶水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：1.5M
  p.BEnName Rhizostoma pulmo
  p.classification 
    | 東大西洋 East Atlantic
    br
    | 北大西洋 North Atlantic
    br
    | 地中海 Mediterranean
    br
    | 黑海 Black Sea
  h2.Btime 1778
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly20
  img.jellyPhoto(src="https://i.imgur.com/EY0Fqzn.png")
  h1.Bname 荷包蛋水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.4M
  p.BEnName Cotylorhiza tuberculata
  p.classification 
    | 地中海 Mediterranean
  h2.Btime 1778
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly21
  img.jellyPhoto(src="https://i.imgur.com/Px8Up4o.png")
  h1.Bname 越前水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：2M
  p.BEnName Nemopilema nomurai
  p.classification 
    | 日本海 Sea of Japan
    br
    | 黃海 Yellow Sea
  h2.Btime 1922
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)
    
.jellyBlock.jelly22
  img.jellyPhoto(src="https://i.imgur.com/jLuJk5H.png")
  h1.Bname 澳洲斑點水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.4M
  p.BEnName Cotylorhiza tuberculata
  p.classification 
    | 大西洋 Atlantic
    br
    | 墨西哥灣 Gulf of Mexico
    br
    | 地中海 Mediterranean
    br
    | 太平洋 Pacific
  h2.Btime 1884
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)    
    
.jellyBlock.jelly23
  img.jellyPhoto(src="https://i.imgur.com/5wUeeg7.png")
  h1.Bname 鮫水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：1M
  p.BEnName Cotylorhiza tuberculata
  p.classification 
    | 太平洋 Pacific
  h2.Btime 2003
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly24
  img.jellyPhoto(src="https://i.imgur.com/7tEKpNX.png")
  h1.Bname 頭盔水母
  p.BMaxHeight
    | Length MAX：0.3M
    br
    | Diameter MAX：???M
  p.BEnName Periphylla periphylla
  p.classification 
    | 北太平洋 North Pacific Ocean
    br
    | 北大西洋 North Atlantic
    br
    | 西大西洋 Western Atlantic
    br
    | 墨西哥灣 Gulf of Mexico
    br
    | 紐西蘭沿海 New Zealand Coast
  h2.Btime 1810
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly25
  img.jellyPhoto(src="https://i.imgur.com/hBIoye9.png")
  h1.Bname 礁環冠水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.02~0.17M
  p.BEnName Atolla wyvillei
  p.classification 
    | 全世界範圍 Worldwide
  h2.Btime 1880
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly26
  img.jellyPhoto(src="https://i.imgur.com/L5pg3ei.png")
  h1.Bname 帆水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.2M
  p.BEnName Atolla wyvillei
  p.classification 
    | 太平洋 Pacific Ocean
    br
    | 北大西洋 North Atlantic
    br
    | 西大西洋 Western Atlantic
    br
    | 墨西哥灣 Gulf of Mexico
    br
    | 地中海 Mediterranean
  h2.Btime 1758
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10) 
    
.jellyBlock.jelly27
  img.jellyPhoto(src="https://i.imgur.com/IYVmjvZ.png")
  h1.Bname 花帽水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.15M
  p.BEnName Olindias formosus
  p.classification 
    | 北太平洋 North Pacific Ocean
    br
    | 西太平洋 Western Pacific Ocean
    br
    | 墨西哥灣 Sea of Japan
    br
    | 濟州島沿海 Jeju Island Coast
  h2.Btime 1903
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly28.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/5XSD9D7.png")
  h1.Bname 索氏桃花水母
  p.BMaxHeight
    | Length MAX：???M
    br
    | Diameter MAX：0.02M
  p.BEnName Craspedacusta sowerbii
  p.classification 
    | 全世界淡水域 Freshwaters around the world
  h2.Btime 1880
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly29
  img.jellyPhoto(src="https://i.imgur.com/vSfG1s4.png")
  h1.Bname 僧帽水母
  p.BMaxHeight
    | Length MAX：30M
    br
    | Diameter MAX：0.3M
  p.BEnName Physalia physalis
  p.classification 
    | 全世界範圍 Worldwide
  h2.Btime 1758
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  

.jellyBlock.jelly30.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/Q4zkuO9.png")
  h1.Bname 維多利亞水母
  p.BMaxHeight
    | Length MAX：???
    br
    | Diameter MAX：0.36M
  p.BEnName Aequorea victoria
  p.classification 
    | 北太平洋 North Pacific Ocean
    br
    | 東北大西洋 Northeast Atlantic
    br
    | 北大西洋 North Atlantic
  h2.Btime 1902
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly31.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/yg2GcNF.png")
  h1.Bname 燈塔水母
  p.BMaxHeight
    | Length MAX：???
    br
    | Diameter MAX：0.05M
  p.BEnName Turritopsis dohrnii
  p.classification 
    | 太平洋 Pacific Ocean
    br
    | 西大西洋 Western Atlantic
    br
    | 北大西洋 North Atlantic
    br
    | 印度洋 Indian Ocean
  h2.Btime 1857
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly32
  img.jellyPhoto(src="https://i.imgur.com/NswEzOB.png")
  h1.Bname 錢幣水母
  p.BMaxHeight
    | Length MAX：???
    br
    | Diameter MAX：0.03M
  p.BEnName Porpita porpita
  p.classification 
    | 全世界範圍 Worldwide
  h2.Btime 1758
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly33.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/o19D5Up.png")
  h1.Bname 波布水母
  p.BMaxHeight
    | Length MAX：1.5M
    br
    | Diameter MAX：0.095M
  p.BEnName Chironex yamaguchii
  p.classification 
    | 西太平洋 West Pacific
  h2.Btime 2009
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  
    
.jellyBlock.jelly34.Blockblack
  img.jellyPhoto(src="https://i.imgur.com/mS1tfxE.png")
  h1.Bname 澳洲箱形水母
  p.BMaxHeight
    | Length MAX：3M
    br
    | Diameter MAX：0.35M
  p.BEnName Chironex fleckeri
  p.classification 
    | 西南太平洋 Southwest Pacific
  h2.Btime 1956
  svg.jellyBlockX(viewbox="0 0 100 100")
    line(x1=10 x2=90 y1=10 y2=90)
    line(x1=10 x2=90 y1=90 y2=10)  